name: Bulk Commit With Py

on:
  workflow_dispatch:
  schedule:
    - cron: '*/5 * * * *' # Runs every 5 minutes

jobs:
  create-commits:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        batch: [1, 2, 3, ..., 5000]  # This will create 5000 jobs to handle 1,000,000 commits in batches of 200

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
          token: ${{ secrets.PAT }}
          persist-credentials: false

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Configure Git
      run: |
        git config --global user.name 'githubdungchung'
        git config --global user.email '165872053+githubdungchung@users.noreply.github.com'

    - name: Create and run Python script
      run: |
        echo "import subprocess" > create_commits.py
        echo "def create_commits(batch_number, batch_size):" >> create_commits.py
        echo "    subprocess.run(['git', 'config', '--global', 'user.name', 'githubdungchung'])" >> create_commits.py
        echo "    subprocess.run(['git', 'config', '--global', 'user.email', '165872053+githubdungchung@users.noreply.github.com'])" >> create_commits.py
        echo "    for _ in range(batch_size):" >> create_commits.py
        echo "        subprocess.run(['git', 'commit', '--allow-empty', '-m', f'Empty commit {batch_number * batch_size + _}'])" >> create_commits.py
        echo "    subprocess.run(['git', 'pull', '--rebase'])" >> create_commits.py
        echo "    subprocess.run(['git', 'push', '-f', 'https://${{ secrets.PAT }}@github.com/${{ github.repository }}.git', 'HEAD:main'])" >> create_commits.py
        echo "if __name__ == '__main__':" >> create_commits.py
        echo "    create_commits(batch_number=${{ matrix.batch }}, batch_size=200)" >> create_commits.py

    - name: Run create_commits.py
      run: python create_commits.py

    - name: Trigger Bulk Projects Creation workflow
      if: ${{ matrix.batch == 5000 }}
      run: |
        curl -X POST \
          -H "Accept: application/vnd.github.v3+json" \
          -H "Authorization: token ${{ secrets.PAT }}" \
          https://api.github.com/repos/${{ github.repository }}/actions/workflows/bulk_projects_creation.yml/dispatches \
          -d '{"ref":"main"}'
