name: Bulk Projects Creation

on:
  workflow_dispatch:

jobs:
  install-packages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT }}

      - name: Set up Node.js
        uses: actions/setup-node@v4

      - name: Configure Git
        run: |
          git config --global user.name 'githubdungchung'
          git config --global user.email '165872053+githubdungchung@users.noreply.github.com'


      - name: Check number of files and trigger cleanup if necessary
        id: check_files
        run: |
          file_count=$(ls -1A | wc -l)
          echo "Number of files: $file_count"
          echo "::set-output name=file_count::$file_count"

      - name: Clear repository if file count exceeds 995
        if: steps.check_files.outputs.file_count > 995
        run: |
          # Create a temporary directory to store recent files
          mkdir temp
      
          # Move the latest 990 files to the temp directory
          ls -tp | grep -v '/$' | head -n 990 | xargs -I {} mv {} temp
      
          # Remove all files except .git, .github and README.md directories
          shopt -s extglob
          rm -rf !( .git| .github|temp|README.md)
      
          # Check if temp directory is not empty before moving files back
          if [ "$(ls -A temp)" ]; then
            mv temp/* .
          fi
      
          rmdir temp
      
          # Add changes to git
          git add .
          git commit -m "Retained the latest 990 files and removed older files"
          git push origin main
      
      - name: Generate random number of projects to create
        id: generate_random
        run: |
          random_number=$(shuf -i 1-10 -n 1)
          echo "Random number of projects to create: $random_number"
          echo "::set-output name=random_number::$random_number"

      - name: Create multiple projects and track number
        run: |
          projects_created=0
          for i in $(seq 1 ${{ steps.generate_random.outputs.random_number }}); do
            TIMESTAMP=$(date +'%Y%m%d%H%M%S%N')
            PROJECT_DIR="$TIMESTAMP"
            
            # Create Next.js project
            npx create-next-app@latest $PROJECT_DIR --ts --eslint --tailwind --no-src-dir --app --no-import-alias --use-npm
            
            cd $PROJECT_DIR
            npm install react-theme-switch-animation
            
            # Modify file to ensure changes
            echo "// Added by GitHub Actions" >> README.md
            
            # Move back to the main directory
            cd ..
            sleep 1  # Ensure the next timestamp is unique
            projects_created=$((projects_created + 1))
          done

          echo "projects_created=$projects_created" >> $GITHUB_ENV

      # - name: Update README with project count
      #   run: |
      #     today=$(date +'%Y-%m-%d')
      #     projects_created=${{ env.projects_created }}
          
      #     # Check if the header exists, if not add it
      #     if ! grep -q "| Date       | Projects Created |" README.md; then
      #       sed -i '/<!--START_SECTION:bulk_projects_creation-->/a | Date       | Projects Created |\n|------------|------------------|' README.md
      #     fi

      #     # Adding project counts to README.md
      #     sed -i '/|------------|------------------|/a | '$today' | '$projects_created' |' README.md

      #     git config --global user.name 'githubdungchung'
      #     git config --global user.email '165872053+githubdungchung@users.noreply.github.com'
      #     git add README.md
      #     git commit -m "Updated project creation history in README.md"
      #     git push https://${{ secrets.PAT }}@github.com/${{ github.repository }}.git HEAD:main

      # - name: Combine same date entries in README
      #   run: |
      #     today=$(date +'%Y-%m-%d')
      #     # Extract current entries for today, sum them, and then replace them
      #     new_count=$(awk -v date="$today" 'BEGIN{sum=0} $2==date {sum+=$4} END{print sum}' README.md)
      #     # Remove existing entries for today
      #     sed -i "/| $today | /d" README.md
      #     # Add the new combined entry
      #     sed -i "/|------------|------------------|/a | $today | $new_count |" README.md

      #     git config --global user.name 'githubdungchung'
      #     git config --global user.email '165872053+githubdungchung@users.noreply.github.com'
      #     git add README.md
      #     git commit -m "Consolidated project creation entries for $today"
      #     git push https://${{ secrets.PAT }}@github.com/${{ github.repository }}.git HEAD:main


  trigger-next-job:
    needs: install-packages
    runs-on: ubuntu-latest
    steps:
    - name: Trigger Bulk Projects Creation workflow
      run: |
        curl -X POST \
          -H "Accept: application/vnd.github.v3+json" \
          -H "Authorization: token ${{ secrets.PAT }}" \
          https://api.github.com/repos/${{ github.repository }}/actions/workflows/batch_creation_of_commits.yml/dispatches \
          -d '{"ref":"main"}'
